.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link{
    color: blueviolet;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
padding: 10px 15px;
}

.link:global(.active){
    color: rgb(231, 115, 37);
    text-decoration: underline;
}