

.btn {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    /* color: #000; */
    cursor: pointer;
    background-color: rgb(190, 190, 215);
margin: 0 auto;}
.btn:hover{
    transform: scale(1.05);
    
    background-color: rgb(166, 189, 220);
}