 .list {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  flex-wrap: wrap;
  color: rgb(7, 7, 126);
  list-style: none;
}

.error {
  color: red;
}
.itemWrap{
   padding: 5px 10px;
 display: flex;
 gap: 20px;
 flex-direction: column;
  padding: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.item {
 
}

.item:hover{
  transform: scale(1.05);
}

.img{
    width: 150px !important;
    width: 100%;
}

.title {
  width: 150px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  /* color: rgb(7, 7, 126); */
  text-decoration: none;
  cursor: pointer;
}
.title:hover {
  color: rgb(105, 105, 221);
}
.title:focus {
  outline: none;
  color: rgb(105, 105, 221);
}
 
