
.title{
    color: #025896;
    font-size: 20px;
    margin-left: 30px;
}

.btn{
    margin-top: 20px;
    margin-left: 25px;
    padding: 8px 5px;
    border: 1px solid #d1cbcb;
    opacity: 0.7;
    background-color: bisque;
    border-radius: 5px;

}